
:root {
  --navbar-color: #339966;
  --basic-background-color:#CCFF66;
  --collapsed-navbar-border-color:#009966;
  --navbar-font-color:#fff;
  --corousel-font-color:#fff;
  --navbar-brand-font-size:20px;
  --navbar-items-font-size:15px;
}

body {
  padding-bottom: 40px;
  color: #5a5a5a;
  background-color: var(--basic-background-color);
}

/*--------------------------------------------------*/

.navbar-inverse .navbar-toggle:hover,
 .navbar-inverse .navbar-toggle:focus {
    border-color: var(--collapsed-navbar-border-color);
    background-color : var(--collapsed-navbar-border-color);
 }

.navbar-inverse {
  background-color: var(--navbar-color);
  border-color: var(--navbar-color);
}

.navbar-inverse .navbar-collapse {
  border-color: var(--collapsed-navbar-border-color);
}

.navbar-inverse .navbar-brand {
  color: var(--navbar-font-color);
  font-size: var(--navbar-brand-font-size);
}

.navbar-nav{
  font-size: var(--navbar-items-font-size);
}

.navbar-inverse .navbar-toggle {
  border-color: var(--collapsed-navbar-border-color);
}

.navbar-inverse .navbar-nav>li>a{
  color: var(--navbar-font-color);
}

.navbar-inverse .navbar-nav>.active>a{
  background-color: var(--navbar-color);
}

.carousel-caption {
  color: var(--corousel-font-color);
}

.blur{
  filter: blur(5px);
  -webkit-filter: blur(1px);
}
/*--------------------------------------------------*/


.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

.navbar-wrapper .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}


.carousel {
  height: 500px;
  margin-bottom: 60px;
}

.carousel-caption {
  z-index: 10;
}

.carousel .item {
  height: 500px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}

.marketing {
  padding-right: 15px;
  padding-left: 15px;
}

.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}


.featurette-divider {
  margin: 80px 0; 
}

.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}


@media (min-width: 768px) {

  .marketing {
    padding-right: 0;
    padding-left: 0;
  }

  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left:  15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left:  0;
  }

  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}